body{
  margin: 0;
  background-color: #f4f4f4;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}
.main{
    background-color: #f4f4f4;
    width: 80%;
    margin: auto;

}

#logo img{
    width:  100%;
}
.navigation{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(2, 83, 83);
}
#navigation{
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    padding-left: 1rem;
    padding-right: 1rem;
}

a{
    text-decoration: none;
    color: black;
}
.container_info{
display: flex;
}
p{
    margin: 0;
    margin-left: 1rem;
}
footer{
    display: inline;
    align-items: center;
    text-align: center;
}